
h1, h2, h3, h4, .Alert p {font-family: 'Recursive', monospace;}

body {
    padding: 20px 100px;

}

.arrow-right {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 25px solid black;
  }

  .pic {
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 0; 
    height: 0; 
  }


ul li {
    padding: 20px;
}
ul h4 {
  position: relative;
	padding-bottom: 10px;
  display: inline;
}
ul p {
    display: inline;
}

ul {
  list-style: none;
}

h1 {font-size: 66px;
font-weight: 1000;}

#tips {
    font-size: 50px;
font-weight: bolder;
word-spacing: -12px;

}

h2 {
    border-radius: 50px;
    height: auto;
    width: auto;
    padding: 10px 10px;
    border: 26px solid lightgray;
    margin: auto auto;
    margin-right: 20px ;
    animation: alert 5s infinite;
    
}

h4 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.Alert p {margin-left: 20px;
font-size: 20px;
line-height: normal;}
.Alert p b {font-size: 18px;}

.Alert{
    display: flex;
    margin: 60px 0px;
    
}

p {font-size: 26px;
line-height: 40px;
font-family: 'Times New Roman', Times, serif;}

hr.vertical {
    height:100%; /* you might need some positioning for this to work, see other questions about 100% height */
    width:0;
    border:5px solid lightgray;
}
@keyframes alert {
    0% {font-size: 28px;
        opacity: 50%;}
    50%{font-size: 30px;
    opacity: 100%;}
    100%{font-size: 28px;
    opacity: 50%;}
    
}